@import url('https://fonts.googleapis.com/css?family=Rajdhani:700|Raleway:300');
html{
	height:100%;
}


body{
	font-family: 'Rajdhani';
	font-weight:300;
	height: 100%;
}

.heading {
    letter-spacing: 7px;
    font-family: 'Rajdhani', Arial;
    font-family: 'Rajdhani', Arial;	
    padding-bottom: 30px;
		text-transform: uppercase;
}
.ser{
	margin-top: 50px;
	font-size:30px;
	padding: 5px;
	border:2px solid #fff;
	
}
.center{
	text-align:center;
}

.Jumbo1{
	margin-bottom: 0px;
	font-family: 'Rajdhani';
	position: relative;
	padding-top: 180px;
	color: white;text-align: center;
	background-color: #c45611;
	/*background: radial-gradient(circle,#392b47,#30243d,#281e33);	
	*/
}

.Jumbo2{
	margin-bottom: 0px;
font-family: 'Rajdhani';
	position: relative;
	padding-top: 100px;
	text-align: center;
	color:#c45611;
	background-color: white;	
	
}
.Hm_ser
{
	margin-top: 50px;
	text-align: center;
}

#Hm_upl
{
	margin-top: 50px;
	text-align: center;border:2px solid #c45611;
}
.services section {
  text-align: center;
}